@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SLURM</h1>

</div>

<div class="main">
    <div class="header-info"></div>
    <div class="slurm-logo"></div>
    <div class="event-results">
        <!--TODO: Wire up slider-->
    </div>
    <div class="excuse-results">
        <ul>
            <li></li>   
        </ul>
    </div>
</div>

<div id="step-selection-calendar" class="hidden">

</div>

<div id="step-selection-type" class="hidden">

</div>

<div id="step-facebook-login" class="hidden">

</div>