@{
    ViewBag.Title = "Home Page";
}

<div id="wrapper" class="home">

    <div id="main">
        <div id="header">
            <p>Drink More Slurm &mdash; Excuse Generator</p>
        </div>

        <!-- home page content -->
        <div id="homepage-content" class="">
            <div class="content" id="home-click">
                <div class="left">
                    <h1>Sorry, we're busy drinking...</h1>
                    <p>(Click to generate your own excuse)</p>
                </div>
                <img src="~/Content/images/slurm-logo-large.png"  class="logo-large" />
            </div>
        </div>



        <div id="content">
            <!-- non home page logo and nav -->
            <div id="logo-and-nav">
                <div id="logo">
                    <a href="put the slurm wiki here"><img src="~/Content/images/slurm-mini-logo.png" /></a>
                </div>
                <div id="nav">
                    <div class="nav-container">
                        <div id="nav-calendar-btn"></div>
                        <div id="nav-public-events-btn"></div>
                        <div id="nav-private-events-btn"></div>
                        <div id="nav-trending-excuses-btn"></div>
                    </div>
                    <div id="trending-excuses-container" class="trending-excuses-container hidden">
                        <h2>Trending Excuses</h2>
                        <p>Bite my shiny metal a$$, I'm busy celebrating Robanukah!</p>
                    </div>
                </div>
            </div>


            <!-- screen 2 content calendar -->
            <div id="calendar-content">
                <h2>Step 1: Select a date.</h2>
                <div id="main-calendar">
                    <!-- Datepicker -->
                    <div id="datepicker"></div>
                </div>
            </div>


            <!-- screen 3 content choice public/private events-->
            <div id="event-choice-content">
                <h2>Step 2: Choose between Public and Private Events.</h2>
                <div class="choice-buttons">
                    <div id="public-btn"></div>
                    <div id="private-btn"></div>
                </div>
            </div>


            <!-- screen 4 content event selector-->
            <div id="event-section-content">
                <h2>Step 3: Select your public event.</h2>
                <div class="event-container">
                   
                </div>
            </div>


            <!-- screen 5 excuse choice -->
            <div id="excuse-section-content">
                <h2>Step 4: Choose your excuse.</h2>
                <div class="excuse-container">
                    <div id="excuse-0" class="excuse">
                        <div class="excuse-0"></div>
                        <a href="https://www.youtube.com/watch?v=3qP_p27l65Q" target="_blank"></a>
                        <p id="cb-0"></p>
                        <input type="button" class="cb-bttn" data-clipboard-action="copy" data-clipboard-target="#cb-0" value="select">
                    </div>
                    <div id="excuse-1" class="excuse">
                        <div class="excuse-1"></div>
                        <a href="https://www.youtube.com/watch?v=6bbIBs0P2t0" target="_blank"></a>
                        <p id="cb-1"></p>
                        <input type="button" class="cb-bttn" data-clipboard-action="copy" data-clipboard-target="#cb-1" value="select">
                    </div>
                    <div id="excuse-2" class="excuse">
                        <div class="excuse-2"></div>
                        <a href="https://www.youtube.com/watch?v=ASMpIlGRHI4" target="_blank"></a>
                        <p id="cb-2"></p>
                        <input type="button" class="cb-bttn" data-clipboard-action="copy" data-clipboard-target="#cb-2" value="select">
                    </div>
                    <div id="excuse-3" class="excuse">
                        <div class="excuse-3"></div>
                        <a href="https://www.youtube.com/watch?v=TMjxeZ9FRDE&index=20&list=PLlO0nNY9sHlzWfuhnzH93lCfHISk_B5U8" target="_blank"></a>
                        <p id="cb-3"></p>
                        <input type="button" class="cb-bttn" data-clipboard-action="copy" data-clipboard-target="#cb-3" value="select">
                    </div>
                    <div id="excuse-4" class="excuse">
                        <div class="excuse-4"></div>
                        <a href="https://www.youtube.com/watch?v=1zhqKCSKpIw&list=PLlO0nNY9sHlzWfuhnzH93lCfHISk_B5U8&index=1" target="_blank"></a>
                        <p id="cb-4"></p>
                        <input type="button" class="cb-bttn" data-clipboard-action="copy" data-clipboard-target="#cb-4" value="select">
                    </div>
                    <div id="excuse-5" class="excuse">
                        <div class="excuse-5"></div>
                        <a href="https://www.youtube.com/watch?v=64Qq31ucGy0" target="_blank"></a>
                        <p id="cb-5"></p>
                        <input type="button" class="cb-bttn" data-clipboard-action="copy" data-clipboard-target="#cb-1" value="select">
                    </div>
                </div>
                <div id="submit-btn"><p>Click to use this excuse and see what other excuses are trending.</div>
            </div>
            


            <!-- screen 6 trending excuses -->
            <div id="trending-excuses">
                <h2>Trending excuses</h2>
                <div id="trending-excuse-container">
                    <p>Trending Excuse 1</p>
                    <p>Trending Excuse 2</p>
                    <p>Trending Excuse 3</p>
                    <div id="left-image"></div>
                    <div id="right-image"></div>
                </div>
            </div>


            <!-- screen 7 rosetta excuses -->
            <div id="rosetta-excuses">
                <h2>Rosetta Excuses</h2>
                <div id="rosetta-excuse-container">
                    <p>rosetta Excuse 1</p>
                    <p>rosetta Excuse 2</p>
                    <p>rosetta Excuse 3</p>
                    <div id="left-image"></div>
                </div>
            </div>



            <!-- rosetta button -->
            <div id="rosetta-btn" class="hidden">
                <p>Rosetta Excuses</p>
            </div>

            <div class="overlay-container">
                <!-- overlay -->
                <div class="excuse-overlay">
                    <div class="excuse-close-bttn">close</div>
                    <p>Thank you for selecting your excuse!</p>
                    <p>Your excuse has been copied to the clipboard for your usage.</p>
                </div>

                <div id="overlay" class="active">
                    <div id="fb-root"></div>
                    
                </div>

                <div class="fb-overlay">
                    <div class="fb-close-bttn">close</div>
                    <p>SLURM is a Facebook driven application!</p>
                    <p>Please Log in using Facebook!</p>
                    <div class="fb-login-button" data-max-rows="1" data-size="xlarge" data-show-faces="false" data-auto-logout-link="false" onclick="checkFacebookLogin();"></div>
                </div>
            </div>
        </div>

        <!-- footer -->
        <div id="footer">
            <p>Drink More Slurm &copy; 2016 | Moonshine Rosetta</p>
        </div>

        <div class="custom-loader">
            <div class="sk-fading-circle">
                <div class="sk-circle1 sk-circle"></div>
                <div class="sk-circle2 sk-circle"></div>
                <div class="sk-circle3 sk-circle"></div>
                <div class="sk-circle4 sk-circle"></div>
                <div class="sk-circle5 sk-circle"></div>
                <div class="sk-circle6 sk-circle"></div>
                <div class="sk-circle7 sk-circle"></div>
                <div class="sk-circle8 sk-circle"></div>
                <div class="sk-circle9 sk-circle"></div>
                <div class="sk-circle10 sk-circle"></div>
                <div class="sk-circle11 sk-circle"></div>
                <div class="sk-circle12 sk-circle"></div>
            </div>
        </div>
    </div>

</div>