body {
   /* padding-top: 50px;
    padding-bottom: 20px;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: none;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
@media (min-width: 1200px) {
    .container {
        max-width: none;
    }
}



@font-face {
  font-family: 'cooper_blackregular';
  src: url('../../fonts/coopbl-webfont.woff2') format('woff2'),
        url('../../fonts/coopbl-webfont.ttf') format('ttf'),
       url('../../fonts/coopbl-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'eb_garamond08_regular';
  src: url('../../fonts/ebgaramond08-regular-webfont.woff2') format('woff2'),
       url('../../fonts/ebgaramond08-regular-webfont.tff') format('tff'),
       url('../../fonts/ebgaramond08-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'eb_garamond08_regular';
  color: #58595b;
  font-size: 14px;
}
body * {
  font-family: 'eb_garamond08_regular';
}
html,body, p, a, span, img, div,
aside, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}
html, body {
    height: 100%;
}
/*
green = #cadb2a;
pink = #ed488d;
blue = #5996c7;
darkgrey = #58595b;
lightgrey = #bcbec0;
*/

h2 {
  font-size: 21px;
}

#header, #footer {
  background-color: #cadb2a;
  height: 50px;
  width: 100%;
}

.home #header:after  {
  content: " ";
  background: url('images/slurm-decor.png') 0 0 repeat-x;
  height: 61px;
  width: 100%;
  display: block;
  transform: rotate(180deg);
  position: absolute;
  top: 50px;
}

#header p, #footer p {
  padding-top: 15px;
  text-align: center;
}

#footer {
  position: absolute;
  bottom: 0;
}

#footer:after {
  content: " ";
  background: url('images/slurm-decor.png') 0 0 repeat-x;
  height: 61px;
  width: 100%;
  display: block;
  position: relative;
  bottom: 94px;
}

#homepage-content {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  transform: translate(-50%, -50%);
  width: 650px;
  text-align: center;
  display: none;
}

.home #homepage-content {
  display: block;
}

.logo-large {
  width: 250px;
  float: right;
}

.left {
  float: left;
  margin-top: 70px;
  text-align: center;
}

.left p {
  font-size: 19px;
}
#content {
  display: none;
}


.generating #content {
  display: block;
}

#calendar-content, #event-choice-content, #event-section-content, #excuse-section-content, #trending-excuses, #rosetta-excuses, #overlay {
  display: none;
}

/* logo and nav section */
#logo-and-nav {
}
#logo-and-nav #logo {
  position: relative;
  margin-left: 5%;
  margin-top: 20px;
  display: inline-block;
  width: 125px;
  vertical-align: top;
}
#logo-and-nav #logo img {
  width: 100%;
}
#logo-and-nav #nav {
  display: inline-block;
  left: 10%;
  position: relative;
  margin-top: 20px;
}
#logo-and-nav #nav .nav-container {
  background: #bcbec0;
  float: left;
  margin-right: 30px;
  padding-top: 8px;
  padding-left: 20px;
  padding-right: 10px;
}
#logo-and-nav #nav .nav-container div {
  display: inline-block;
  height: 100px;
  width: 110px;
  margin-right: 15px;
  position: relative;
  top: 3px;
}

#logo-and-nav #nav .nav-container div.active {
  height: 90px;
  top: -7px;
  width: 103px;
}

#logo-and-nav #nav #nav-calendar-btn {
  background: url(images/calendar-btn.png) 0 0 no-repeat;
  background-size: 100%;
  width: 120px;
  display: none;
  float:left;
}
#logo-and-nav #nav #nav-public-events-btn {
  background: url(images/public-btn-sm.png) 0 0 no-repeat;
  background-size: 100%;
  display: none;
  float:left;
}
#logo-and-nav #nav #nav-public-events-btn.active {
  background: url(images/public-btn-active-sm.png) 0 0 no-repeat;
  background-size: 100%;
}
#logo-and-nav #nav #nav-private-events-btn {
  background: url(images/private-btn-sm.png) 0 0 no-repeat;
  background-size: 100%;
  display: none;
  float:left;
}
#logo-and-nav #nav #nav-private-events-btn.active {
  background: url(images/private-btn-active-sm.png) 0 0 no-repeat;
  background-size: 100%;
}
#logo-and-nav #nav #nav-trending-excuses-btn {
  background: url(images/trending-btn-sm.png) 0 0 no-repeat;
  background-size: 100%;
  display: none;
  float:left;
}
#logo-and-nav #nav #nav-trending-excuses-btn.active {
  background: url(images/trending-btn-active-sm.png) 0 0 no-repeat;
  background-size: 100%;
}

#logo-and-nav #nav .trending-excuses-container {
  border: 1px solid #bcbec0;
  float: left;
  text-align: center;
  padding: 23px;
  max-width: 220px;
  width: 300px;
}

#logo-and-nav #nav .trending-excuses-container h2 {
  margin-bottom: 10px;
}

#logo-and-nav #nav .trending-excuses-container p {
  color: #5996c7;
  line-height: 1.25;
}

/* calendar section */
#content h2 {
  margin-bottom: 20px;
}
#calendar-content.active {
    /*display: block;*/
    height: auto;
    width: 100%;
    text-align: center;
    margin-top: 8%;
    margin-bottom: 8%;
}

#calendar-content #datepicker {
  display: inline-block;
}

/* event choice */
#event-choice-content.active {
  height: auto;
  width: 100%;
  text-align: center;
  margin-top: 8%;
  margin-bottom: 8%;
}

#event-choice-content .choice-buttons div {
  height: 160px;
  width: 198px;
  background-size: 100% 100% !important;
  display: inline-block;
  margin-right: 50px;
  margin-left: 50px;
}
#event-choice-content .choice-buttons #public-btn {
  background: url(images/public-btn-lg.png) 0 0 no-repeat;
}
#event-choice-content .choice-buttons #private-btn {
    background: url(images/private-btn-lg.png) 0 0 no-repeat;
}


/* event selection */
#event-section-content.active {
  height: auto;
  width: 100%;
  text-align: center;
  margin-top: 8%;
  margin-bottom: 8%;
}

#event-section-content .event-container {
    border: 1px solid #bcbec0;
    width: 60%;
    margin: 0 auto;
    padding: 10px 0;
}

#event-section-content .event-container .event {
    display: inline-block;
    width: 46%;
    margin-right: 1%;
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: left;
}
#event-section-content .event-container .event:hover {
  background-color: #cadb2a;
  cursor: pointer;
}

#event-section-content .event-container .event img {
    float: left;
    margin-right: 10px;
    width: 50px;
}

#event-section-content .event-container .event h4 {
  color: #5996c7;
  font-family: Helvetica;
  font-size: 10px;
  margin-bottom: 3px;
  margin-top: 3px;
}

#event-section-content .event-container .event:hover h4 {
  color: #ed488d;
}
#event-section-content .event-container .event p {
  font-family: Helvetica;
  font-size: 9px;
}



/* excuse section */

#excuse-section-content.active {
  height: auto;
  width: 100%;
  text-align: center;
  margin-top: 8%;
  margin-bottom: 8%;
}

#excuse-section-content .excuse-container {
    border: 1px solid #bcbec0;
    width: 60%;
    margin: 0 auto;
    padding: 10px 0;
}

#excuse-section-content .excuse-container .excuse {
    display: inline-block;
    width: 46%;
    margin-right: 1%;
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: left;
    padding: 5px 0 5px 0;
}
#excuse-section-content .excuse-container .excuse:hover {
  background-color: #cadb2a;
  cursor: pointer;
}

#excuse-section-content .excuse-container .excuse img {
    float: left;
    margin-right: 10px;
    height: 50px;
}

#excuse-section-content .excuse-container .excuse h4 {
  color: #5996c7;
  font-family: Helvetica;
  font-size: 10px;
  margin-bottom: 3px;
  margin-top: 3px;
}

#excuse-section-content .excuse-container .excuse:hover h4 {
  color: #ed488d;
}
#excuse-section-content .excuse-container .excuse p {
  font-family: Helvetica;
  font-size: 11px;
  width:70%;
  float:left;
}

#excuse-section-content #submit-btn {
  border: 7px solid #5996c7;  
  width: 60%;
  margin: 0 auto;
  padding: 10px 0;
  background-color: #cadb2a;
}

#excuse-section-content #submit-btn p {
  color: #ed488d;
  font-family: 'cooper_blackregular';
}


/* trending excuses */
#trending-excuses.active {
  height: auto;
  width: 100%;
  text-align: center;
  margin-top: 8%;
  margin-bottom: 8%;
}

#trending-excuses #trending-excuse-container {
    border: 1px solid #bcbec0;
    width: 60%;
    margin: 0 auto;
    padding: 10px 0;
}
#trending-excuses #trending-excuse-container p {
    margin: 15px 0;
}
#trending-excuses #trending-excuse-container p:nth-of-type(1) {
    color: #cadb2a;
}
#trending-excuses #trending-excuse-container p:nth-of-type(2) {
    color: #ed488d;
}
#trending-excuses #trending-excuse-container p:nth-of-type(3) {
    color: #5996c7;
}


/* rosetta excuses */
#rosetta-excuses.active {
  height: auto;
  width: 100%;
  text-align: center;
  margin-top: 8%;
  margin-bottom: 8%;
}

#rosetta-excuses #rosetta-excuse-container {
    border: 1px solid #bcbec0;
    width: 60%;
    margin: 0 auto;
    padding: 10px 0;
}
#rosetta-excuses #rosetta-excuse-container p {
    margin: 15px 0;
}
#rosetta-excuses #rosetta-excuse-container p:nth-of-type(1) {
    color: #cadb2a;
}
#rosetta-excuses #rosetta-excuse-container p:nth-of-type(2) {
    color: #ed488d;
}
#rosetta-excuses #rosetta-excuse-container p:nth-of-type(3) {
    color: #5996c7;
}


/* overlay */

#overlay.active {
  display: block;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: #c4d661;
  opacity:.6;
  z-index:1;
}

.custom-loader {
  display: none;
  position: absolute;
  margin:0 auto;
  transform:translate(-50%, -50%);
  top:50%;
  left:50%;;
  z-index:99;
}

.custom-loader.active {
    display: block;
}

.fb-overlay, .excuse-overlay {
  display: none;
  position: absolute;
  margin:0 auto;
  transform:translate(-50%, -50%);
  top:50%;
  left:50%;
  width:30%;
  height:20%;
  z-index:99;
  background:#fff;
  border:1px solid;

}

.fb-overlay.active {
    display:block;
}

.excuse-overlay.active {
    display:block;
}

.fb-close-bttn, .excuse-close-bttn {
    border: 1px solid;
    border-radius: 3px;
    width: 75px;
    text-align: center;
    float: right;
    cursor:pointer;
}

/* rosetta button */
#rosetta-btn {
    display: block;
    background: #ed488d;
    border: 2px solid #5996c7;
    position: fixed;
    left: 0;
    bottom: 35%;
    height: 120px;
    width: 120px;
    border-radius: 60px;
    transform: translateX(-50%);
}
.home #rosetta-btn {
  display: none;
}

#rosetta-btn p {
  transform: rotate(270deg);
  width: 50%;
  text-align: center;
  line-height: 1;
  font-size: 18px;
  position: relative;
  top: 35%;
  left: 47%;
  color: #cadb2a;
}


.hidden {
    display: none;
}

.overlay-container {
    display:none;
}

.overlay-container.active {
    display:block;
}

.excuse-0 {
    width: 50px;
    height: 50px;
    background: url(images/GL_-_Benders.png);
    background-size:400%;
    background-position-x:0px;
    background-position-y:0px;
    float:left;
}

.excuse-1 {
    width: 50px;
    height: 50px;
    background: url(images/GL_-_Benders.png);
    background-size:400%;
    background-position-x:-65px;
    background-position-y:0px;
    float:left;
}

.excuse-2 {
    width: 50px;
    height: 50px;
    background: url(images/GL_-_Benders.png);
    background-size:400%;
    background-position-x:-140px;
    background-position-y:0px;
    float:left;
}

.excuse-3 {
    width: 50px;
    height: 50px;
    background: url(images/GL_-_Benders.png);
    background-size:400%;
    background-position-x: 0px;
    background-position-y:-690px;
    float:left;
}

.excuse-4 {
    width: 50px;
    height: 50px;
    background: url(images/GL_-_Benders.png);
    background-size:400%;
    background-position-x: -65px;
    background-position-y:-690px;
    float:left;
}

.excuse-5 {
    width: 50px;
    height: 50px;
    background: url(images/GL_-_Benders.png);
    background-size:400%;
    background-position-x: -140px;
    background-position-y:-690px;
    float:left;
}

.cb-bttn {
    float:left;
    background-color: #ed488d;
    color: #cadb2a;
    border:none;
}


/*loader*/
.sk-fading-circle {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.sk-fading-circle .sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.sk-fading-circle .sk-circle:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
          animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}
.sk-fading-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
}
.sk-fading-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg);
}
.sk-fading-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.sk-fading-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg);
}
.sk-fading-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg);
}
.sk-fading-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.sk-fading-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg);
}
.sk-fading-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg);
}
.sk-fading-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
}
.sk-fading-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg); 
}
.sk-fading-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg); 
}
.sk-fading-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s; 
}
.sk-fading-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s; 
}
.sk-fading-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s; 
}
.sk-fading-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s; 
}
.sk-fading-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s; 
}
.sk-fading-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s; 
}
.sk-fading-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s; 
}
.sk-fading-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}
.sk-fading-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}
.sk-fading-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}
.sk-fading-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; }
}

@keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; } 
}